# Binaries
!bin/
bin/*
!bin/core.example.paxconfig

# libraries
libs/Polypropylene

# Project data
.idea
vs

# Generated code
*.generated.cpp

# Python temp files
__pycache__

# Build
build
cmake-build-*